/* helo */

.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid white;
}
.CodeMirror {
  font-family: "Helvetica";
  background-color: #111;
}

.cm-s-default {
  color: white;
}

.cm-s-default .cm-header {
  font-weight: normal;
  color: white;
}

.cm-header-1 {
  font-size: 2em;
}

.cm-header-2 {
  font-size: 1.5em;
}

.cm-header-3 {
  font-size: 1.2em;
}

.cm-header-4 {
  font-size: 1em;
}

.cm-header-4 {
  font-size: 0.8em;
}

.cm-header-5 {
  font-size: 0.6em;
}

.cm-header-6 {
  font-size: 0.4em;
}

#editor {
  width: 40%;
  height: 400px;
  float: left;
  font-family: "Helvetica";
}

#preview {
  width: 40%;
  float: right;
}

body {
  color: white;
  background-color: #111;
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-family: Helvetica;
}
